{{#bug}}
{{/bug}}
@import 'icons.less';

@svgUrl: replace("{{svgPath}}", "&#x2F;", "/");

/*region Scaling*/
.toScaleIcon(@svg-width, @svg-height, 0.25, min25p);

.toScaleIcon(@svg-width, @svg-height, 0.5, min50p);

.toScaleIcon(@svg-width, @svg-height, 1.5, 50p);

.toScaleIcon(@svg-width, @svg-height, 2, 100p);

.toScaleIcon(@svg-width, @svg-height, 4, 400p);
/*end region Scaling*/

/*region Scaling icocenter*/
.toScaleCenterMargin(0.25, min25p);

.toScaleCenterMargin(0.5, min50p);

.toScaleCenterMargin(1.5, 50p);

.toScaleCenterMargin(2, 100p);

.toScaleCenterMargin(4, 400p);
/*end region Scaling icocenter*/
